Just a reminder:
RCFD2107: Obligations (other than securities and leases) of states and political subdivisions in the
U.S (Consolidated Bank). Dollar amounts in thousands.
RCON2107: Obligations (other than securities and leases) of states and political subdivisions in the
U.S (Domestic Offices). Dollar amounts in thousands.

In [5]:
import pandas as pd
import numpy as np
import zipfile
import io
import os
import gc

directory = os.fsencode('data')
muni_banks_table = pd.DataFrame()
quarter = {'0331': 'Q1', '0630': 'Q2', '0930': 'Q3', '1231': 'Q4'}

for file in os.listdir(directory):
    # prep the zipfiles to open
    filename = os.fsdecode(file)
    zipf = zipfile.ZipFile('data/'+filename)
    
    # find some designation to find the right file:
    words = filename.split()
    call_report_date = words[-1].replace('.zip', '')
    
    # find the bank designation
    bank_filename = 'FFIEC CDR Call Bulk POR {}.txt'.format(call_report_date)
    bank_file = pd.read_csv(zipf.open(bank_filename), sep='\t').set_index('IDRSSD')

    # grab the call schedule
    securities_filename = 'FFIEC CDR Call Schedule RCCI {}.txt'.format(call_report_date)
    securities_file = pd.read_csv(zipf.open(securities_filename), sep='\t', header=[0], skiprows=[1]).set_index('IDRSSD')

    # just suss out the muni data
    muni_loans = securities_file['RCFD2107'].dropna().to_frame()
    muni_loans['CallDate'] = call_report_date[-4:]+quarter[call_report_date[0:4]]
    
    # merge the tables together, append to dataframe
    muni_bank = pd.merge(muni_loans, bank_file, how='left', left_index=True, right_index=True)
    if muni_banks_table.empty:
        muni_banks_table = muni_bank
    else:
        muni_banks_table = pd.concat([muni_banks_table, muni_bank])
        
    # garbage clean up
    del [[bank_file, securities_file, muni_loans, muni_bank]]
    gc.collect()
    bank_file = pd.DataFrame()
    securities_file = pd.DataFrame()
    muni_loans = pd.DataFrame()
    muni_bank = pd.DataFrame()

In [8]:
# let's look at the sums
muni_banks_table[muni_banks_table['RCFD2107'] != 0]
muni_total = muni_banks_table.groupby(['CallDate', 'Financial Institution Name'])['RCFD2107'].sum().unstack(level=-2).fillna(0)
temp = muni_total.transpose()
temp['ALL BANKS'] = temp.sum(axis=1)
muni_total = temp.transpose()
muni_total = muni_total/1000
muni_total['sum'] = muni_total.sum(axis=1)
muni_total = muni_total[muni_total['sum'] != 0]
muni_total.drop('sum', axis=1, inplace=True)

# let's drop the total for now DELETE THIS LINE IF YOU WANT TO KEEP IT
muni_total = muni_total.drop('ALL BANKS', axis=0)

Then taking all that work and converting it into an easy to read csv for heroku to fly with.

In [9]:
muni_total.to_csv('munidata.csv')

In [21]:
import pandas as pd
import numpy as np

df = pd.read_csv('munidata.csv').set_index('Financial Institution Name')
{np.where(df.columns.values == i)[0][0]: i for i in df.columns.values}

df.sort_values(by=['2001Q1'], ascending=True, inplace=True)
    #subset = munidata.head(50).copy()
df

,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,2002Q3,2002Q4,2003Q1,2003Q2,...,2016Q3,2016Q4,2017Q1,2017Q2,2017Q3,2017Q4,2018Q1,2018Q2,2018Q3,2018Q4
Financial Institution Name,,,,,,,,,,,,,,,,,,,,,
"BANK OF AMERICA, NATIONAL ASSOCIATION",3772.000,3606.000,4037.000,3875.000,2427.000,2267.000,2278.000,2476.000,2834.000,3254.000,...,19008.000,19254.000,19411.000,19165.000,19358.000,19710.000,19806.000,18994.000,18882.000,21050.000
FIRST UNION NATIONAL BANK,1775.000,1636.000,1617.000,1684.000,1670.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
SUNTRUST BANK,1112.580,1096.091,1160.797,1198.992,1226.885,1258.677,1316.741,1425.540,1497.262,1698.262,...,3728.800,3562.761,3611.744,3569.159,3545.044,3456.696,3473.553,3450.372,3438.806,3669.387
U.S. BANK NATIONAL ASSOCIATION,964.898,973.536,1436.737,1302.937,1287.519,1412.770,1628.693,1427.320,1508.744,1601.330,...,11654.657,11915.645,12306.237,12156.150,12173.489,12383.267,12136.023,11857.838,11475.295,10854.490
"PNC BANK, NATIONAL ASSOCIATION",559.798,539.683,512.155,488.985,506.951,496.056,479.821,427.106,453.257,407.375,...,12578.392,12736.243,12910.531,13289.869,12930.261,13117.022,13098.043,12458.535,11820.501,11078.792
KEYBANK NATIONAL ASSOCIATION,382.784,399.402,427.891,436.522,474.388,380.036,406.174,370.632,385.314,369.648,...,1165.579,1868.216,2033.599,1726.562,1870.839,2256.318,2255.145,2048.064,2102.959,2017.287
"WACHOVIA BANK, NATIONAL ASSOCIATION",360.929,358.983,376.199,362.202,355.908,2001.000,1979.000,1878.000,1909.000,1925.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
MANUFACTURERS AND TRADERS TRUST COMPANY,354.213,350.903,354.548,355.444,299.684,292.420,380.141,373.113,387.258,488.039,...,136.903,133.752,151.324,137.554,83.071,102.366,112.133,107.350,99.030,107.682
"FIRSTAR BANK, NATIONAL ASSOCIATION",344.345,324.334,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"BANK ONE, NATIONAL ASSOCIATION",302.800,316.025,306.843,404.064,436.000,458.000,629.000,661.000,657.000,649.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
REGIONS BANK,271.534,256.397,256.420,257.228,258.768,256.308,270.250,267.765,277.151,270.012,...,3590.738,3525.723,3503.913,3785.468,4002.614,4218.142,4346.563,4467.908,4629.290,4777.438
NATIONAL CITY BANK OF MICHIGAN/ILLINOIS,233.342,232.083,241.600,254.192,255.313,277.040,290.969,306.871,314.232,309.803,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
BANCO POPULAR DE PUERTO RICO,233.000,243.000,230.000,379.000,371.000,367.000,391.000,400.000,417.000,408.000,...,196.000,207.000,195.000,194.000,198.000,196.000,194.000,193.000,178.000,178.000
"CITIBANK, N.A.",232.000,363.000,319.000,324.000,441.000,400.000,453.000,546.000,378.000,216.000,...,1101.000,1118.000,1154.000,1086.000,968.000,842.000,1012.000,938.000,893.000,1057.000
LASALLE BANK NATIONAL ASSOCIATION,180.892,167.997,167.680,169.631,169.341,169.632,161.310,163.519,163.912,163.248,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"UNION PLANTERS BANK, NATIONAL ASSOCIATION",174.733,160.781,159.857,148.704,147.100,154.837,151.641,142.216,156.227,172.050,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"MELLON BANK, N.A.",171.293,138.697,160.615,11.016,8.803,7.508,7.214,6.969,6.546,28.264,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
HIBERNIA NATIONAL BANK,164.646,166.143,164.252,169.229,161.893,165.239,159.952,160.414,146.146,143.231,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
FLEET NATIONAL BANK,160.000,148.000,146.000,142.000,134.000,132.000,128.000,124.000,118.000,116.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ALLFIRST BANK,149.013,131.908,132.427,183.958,149.131,108.758,94.130,81.253,86.016,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
AMERICAN NATIONAL BANK AND TRUST COMPANY OF CHICAGO,147.942,144.968,131.878,140.272,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
ZIONS FIRST NATIONAL BANK,144.773,189.157,177.844,191.063,176.382,170.096,186.677,205.867,196.225,201.334,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
RIGGS BANK NATIONAL ASSOCIATION,132.499,131.562,130.653,129.671,128.650,131.135,167.883,165.133,164.135,161.808,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"WELLS FARGO BANK, NATIONAL ASSOCIATION",131.000,122.000,147.000,134.000,134.000,127.000,170.000,167.000,241.000,192.000,...,17472.000,18053.000,17622.000,18194.000,18393.000,19172.000,19090.000,18903.000,19242.000,18579.000
OLD KENT BANK,129.128,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
WILMINGTON TRUST COMPANY,120.768,129.981,110.097,101.470,99.429,95.114,69.145,65.311,62.653,52.787,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
AMSOUTH BANK,116.404,106.037,120.367,123.661,119.420,112.245,123.335,78.360,70.434,62.848,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
BRANCH BANKING AND TRUST COMPANY,97.903,101.259,102.099,99.632,89.768,86.330,98.842,91.951,86.269,73.167,...,5323.255,5305.703,5429.143,5786.000,5934.000,6135.000,6156.000,6087.000,5961.000,5938.000
"NORTHERN TRUST COMPANY, THE",91.692,91.545,91.859,88.706,94.721,99.296,95.183,131.474,119.026,100.288,...,70.596,56.923,64.569,75.356,80.770,49.154,44.290,44.737,44.064,44.723
FIFTH THIRD BANK,83.826,222.353,222.578,217.351,251.229,235.305,223.217,221.465,10.952,72.137,...,522.475,546.518,550.494,479.096,417.174,411.933,464.958,476.963,560.827,535.621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FIRST NATIONAL BANK OF PENNSYLVANIA,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
FIRST TENNESSEE BANK NATIONAL ASSOCIATION,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,579.491,580.117,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
FIRSTBANK PUERTO RICO,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,71.797,113.583,112.133,112.019,120.324,120.203,114.108,108.961,118.010,106.221
"HSBC BANK USA, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"FROST NATIONAL BANK, THE",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
GOLDMAN SACHS BANK USA,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,93.000,92.000,92.000,90.000,85.000,84.000,84.000,83.000,83.000,82.000
DEUTSCHE BANK TRUST COMPANY AMERICAS,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
MIZUHO BANK (USA),0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,46.512,46.512,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
PLAINSCAPITAL BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
MIZUHO CORPORATE BANK (USA),0.000,0.000,0.000,0.000,0.000,0.000,0.000,19.272,0.000,33.467,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
PEOPLE'S UNITED BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"CHARTER ONE BANK, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
OLD NATIONAL BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,392.992,393.503,378.458,376.239,360.260,418.287,413.580,409.560,395.339,485.861
"CHASE BANK USA, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,22.789,23.583,21.687
"NORTHERN TRUST, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
CHITTENDEN TRUST COMPANY,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
CITIZENS BANK OF PENNSYLVANIA,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,7.481,7.359,7.200,7.034,0.353,0.276,0.243,0.205,0.167,0.067
NORTH FORK BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
NATIONAL CITY BANK OF THE MIDWEST,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"CITIZENS BANK, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,5.349,4.779,4.485,4.057,6.248,5.608,5.089,4.383,3.197,3.852
CITIZENS FINANCIAL BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
CITY NATIONAL BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,489.070,484.424,491.564,489.782,520.774,644.669,645.137,646.723,667.282,671.706
COBIZ BANK,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"COLONIAL BANK, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
COLUMBUS BANK AND TRUST COMPANY,0.000,0.000,0.000,0.000,0.000,12.797,11.862,12.185,11.391,11.798,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
NATIONAL BANK OF ARIZONA,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
"MUFG UNION BANK, NATIONAL ASSOCIATION",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,117.248,99.900,80.369,566.001,559.263,553.647,596.083,672.471,620.177,515.296
"MORGAN STANLEY BANK, N.A.",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,103.000,103.000,103.000
"COMMERCE BANK OF WASHINGTON, NATIONAL ASSOCIATION, THE",0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1ST FINANCIAL BANK USA,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.453,0.521,0.487,0.394,0.366,0.366,0.336,0.301,0.259,0.000