Just a reminder:
RCFD2107: Obligations (other than securities and leases) of states and political subdivisions in the
U.S (Consolidated Bank). Dollar amounts in thousands.
RCON2107: Obligations (other than securities and leases) of states and political subdivisions in the
U.S (Domestic Offices). Dollar amounts in thousands.

In [2]:
import pandas as pd
import numpy as np
import zipfile
import io
import os

directory = os.fsencode('data')
bank_identification = []
securities_holdings = []

for file in os.listdir(directory):
    # prep the zipfiles to open
    filename = os.fsdecode(file)
    zipf = zipfile.ZipFile('data/'+filename)
    
    # find some designation to find the right file:
    words = filename.split()
    call_report_date = words[-1].replace('.zip', '')
    
    # find the bank designation
    bank_filename = 'FFIEC CDR Call Bulk POR {}.txt'.format(call_report_date)
    bank_file = pd.read_csv(zipf.open(bank_filename), sep='\t').set_index('IDRSSD')
    bank_identification.append(bank_file)

    # grab the call schedule
    securities_filename = 'FFIEC CDR Call Schedule RCCI {}.txt'.format(call_report_date)
    securities_file = pd.read_csv(zipf.open(securities_filename), sep='\t', header=[0], skiprows=[1]).set_index('IDRSSD')

    muni_loans = securities_file['RCFD2107'].dropna()
    muni_loans['Date'] = call_report_date
    securities_holdings.append(muni_loans)
    
securities_holdings[0]

IDRSSD
12311         74680
14409          7293
35301             0
42541        233342
44134             0
44602             0
49362         13749
53033             0
58243           392
60143         26016
63069             0
64619             0
65513             0
66015             0
66855        964898
67311          1244
75633           828
76201        160000
83638             0
98717             0
101019            0
112837       164646
121709            0
128511            0
130943         1538
132415            0
140513            0
160614            0
161415        59000
171133            0
             ...
931636            0
934329       171293
940311       233000
958615            0
964755         6942
968605            0
969723        11934
970242           60
980661           83
983448        52380
985732            0
995151        22393
1160152           0
1160161           0
1160732           0
1212631           0
1216022           0
1394676          12
1494240       38340
1494914           0
1830035           0
1866726           0
2028400           0
2253891           0
2332910           0
2333412           0
2398701           0
2736291        8884
2845166           0
Date       03312001
Name: RCFD2107, Length: 150, dtype: object

In [47]:
zf = zipfile.ZipFile('data/FFIEC CDR Call Bulk All Schedules 12312018.zip')
df_banks = pd.read_csv(zf.open('FFIEC CDR Call Bulk POR 12312018.txt'), sep='\t').set_index('IDRSSD')
df = pd.read_csv(zf.open('FFIEC CDR Call Schedule RCCI 12312018.txt'), sep='\t', header=[0], skiprows=[1]).set_index('IDRSSD')
muni_loans = df['RCFD2107'].dropna()

muni_banks = pd.merge(muni_loans, df_banks, how='left', left_index=True, right_index=True)
muni_banks.sort_values(by='RCFD2107', ascending=False, inplace=True)
muni_banks

,RCFD2107,FDIC Certificate Number,OCC Charter Number,OTS Docket Number,Primary ABA Routing Number,Financial Institution Name,Financial Institution Address,Financial Institution City,Financial Institution State,Financial Institution Zip Code,Financial Institution Filing Type,Last Date/Time Submission Updated On
IDRSSD,,,,,,,,,,,,
852218,21515000.0,628,8,0,21000021,"JPMORGAN CHASE BANK, NATIONAL ASSOCIATION",1111 POLARIS PARKWAY,COLUMBUS,OH,43240,31,2019-02-04T16:04:10
480228,21050000.0,3510,13044,0,53000196,"BANK OF AMERICA, NATIONAL ASSOCIATION","100 NORTH TRYON STREET, SUITE 170",CHARLOTTE,NC,28202,31,2019-02-04T17:14:14
451965,18579000.0,3511,1,0,121000248,"WELLS FARGO BANK, NATIONAL ASSOCIATION",101 NORTH PHILLIPS AVENUE,SIOUX FALLS,SD,57104,31,2019-04-12T14:59:04
497404,14469528.0,18409,24096,0,31101266,"TD BANK, N.A.",2035 LIMESTONE ROAD,WILMINGTON,DE,19808,31,2019-03-28T15:06:05
817824,11078792.0,6384,1316,0,43000096,"PNC BANK, NATIONAL ASSOCIATION",222 DELAWARE AVENUE,WILMINGTON,DE,19899,31,2019-02-19T13:27:34
504713,10854490.0,6548,24,0,42000013,U.S. BANK NATIONAL ASSOCIATION,425 WALNUT STREET,CINCINNATI,OH,45202,31,2019-01-30T11:27:36
852320,5938000.0,9846,0,12045,53101121,BRANCH BANKING AND TRUST COMPANY,200 WEST SECOND STREET,WINSTON-SALEM,NC,27101,31,2019-02-04T15:37:10
112837,5438416.0,4297,13688,11780,56073502,"CAPITAL ONE, NATIONAL ASSOCIATION",1680 CAPITAL ONE DRIVE,MC LEAN,VA,22102,31,2019-01-30T11:09:02
233031,4777438.0,12368,0,9709,62005690,REGIONS BANK,1900 FIFTH AVENUE NORTH,BIRMINGHAM,AL,35203,31,2019-02-27T15:54:24
675332,3669387.0,867,0,16288,61000104,SUNTRUST BANK,303 PEACHTREE STREET NE,ATLANTA,GA,30308,31,2019-01-25T14:52:50
75633,2637368.0,16571,14583,0,71000288,BMO HARRIS BANK NATIONAL ASSOCIATION,111 WEST MONROE,CHICAGO,IL,60603,31,2019-01-29T17:29:17
280110,2017287.0,17534,14761,0,41001039,KEYBANK NATIONAL ASSOCIATION,127 PUBLIC SQUARE,CLEVELAND,OH,441141306,31,2019-02-04T12:18:28
2193616,1245323.0,33893,24914,0,63191749,"RAYMOND JAMES BANK, NATIONAL ASSOCIATION",710 CARILLON PARKWAY,SAINT PETERSBURG,FL,33716,31,2019-01-29T12:53:03
476810,1057000.0,7213,1461,0,21000089,"CITIBANK, N.A.",701 EAST 60TH STREET NORTH,SIOUX FALLS,SD,57104,31,2019-03-25T17:21:52
35301,926186.0,14,0,0,11000028,STATE STREET BANK AND TRUST COMPANY,ONE LINCOLN STREET,BOSTON,MA,2111,31,2019-02-04T17:16:14
722777,736276.0,29950,25022,0,11075150,"SANTANDER BANK, NATIONAL ASSOCIATION","824 NORTH MARKET STREET, SUITE 100",WILMINGTON,DE,19801,31,2019-04-08T13:42:32
63069,671706.0,17281,14695,0,122016066,CITY NATIONAL BANK,555 SOUTH FLOWER STREET,LOS ANGELES,CA,90071,31,2019-01-30T22:12:39
723112,535621.0,6672,0,0,42000314,FIFTH THIRD BANK,38 FOUNTAIN SQUARE PLAZA,CINCINNATI,OH,45202,31,2019-01-29T14:08:39
212465,515296.0,22826,21541,0,122000496,"MUFG UNION BANK, NATIONAL ASSOCIATION",400 CALIFORNIA STREET,SAN FRANCISCO,CA,94104,31,2019-01-30T16:24:49
208244,485861.0,3832,8846,0,86300012,OLD NATIONAL BANK,1 MAIN STREET,EVANSVILLE,IN,47708,31,2019-01-25T14:04:22
12311,465022.0,6560,7745,0,44000024,"HUNTINGTON NATIONAL BANK, THE",17 SOUTH HIGH STREET,COLUMBUS,OH,43215,31,2019-04-02T12:49:27
656733,357253.0,3628,13684,16602,71001737,"MB FINANCIAL BANK, NATIONAL ASSOCIATION",800 WEST MADISON STREET,CHICAGO,IL,60607,31,2019-03-01T16:13:17
266271,356173.0,28330,23253,0,291070001,TCF NATIONAL BANK,2508 SOUTH LOUISE AVENUE,SIOUX FALLS,SD,57106,31,2019-01-30T11:50:20
1007846,315003.0,3709,0,12030,71901604,FIRST MIDWEST BANK,"8750 WEST BRYN MAWR AVENUE, SUITE 1300",CHICAGO,IL,60631,31,2019-01-30T16:44:49
761806,215584.0,18221,24469,0,211170101,"WEBSTER BANK, NATIONAL ASSOCIATION",145 BANK STREET WEBSTER PLAZA,WATERBURY,CT,6702,31,2019-01-30T16:21:44
940311,178000.0,34968,0,11461,21502011,BANCO POPULAR DE PUERTO RICO,209 MUNOZ RIVERA AVENUE,SAN JUAN,PR,918,31,2019-01-30T16:02:43
541101,173000.0,639,0,0,21000018,"BANK OF NEW YORK MELLON, THE",240 GREENWICH STREET,NEW YORK,NY,10286,31,2019-03-06T11:13:20
917742,159730.0,5296,23695,0,75900575,"ASSOCIATED BANK, NATIONAL ASSOCIATION",200 NORTH ADAMS STREET,GREEN BAY,WI,54301,31,2019-01-29T17:03:25
804963,149014.0,3514,0,0,121100782,BANK OF THE WEST,180 MONTGOMERY STREET,SAN FRANCISCO,CA,94104,31,2019-04-02T09:56:27
60143,145475.0,983,0,0,111000753,COMERICA BANK,1717 MAIN STREET,DALLAS,TX,75201,31,2019-01-30T17:39:31
...,...,...,...,...,...,...,...,...,...,...,...,...
1394676,0.0,27471,25151,0,124071889,AMERICAN EXPRESS NATIONAL BANK,4315 SOUTH 2700 WEST,SALT LAKE CITY,UT,84184,31,2019-01-29T17:03:59
1444021,0.0,32961,22121,0,121045122,"BLACKROCK INSTITUTIONAL TRUST COMPANY, NATIONA...",400 HOWARD STREET,SAN FRANCISCO,CA,94105,31,2019-01-30T13:04:40
413208,0.0,57890,24522,0,21001088,"HSBC BANK USA, NATIONAL ASSOCIATION","1800 TYSONS BOULEVARD, SUITE 50",TYSONS,VA,22102,31,2019-02-04T15:42:32
1893049,0.0,33497,715846,15846,122105773,CHARLES SCHWAB SIGNATURE BANK,"2360 CORPORATE CIRCLE, SUITE 400",HENDERSON,NV,89074,31,2019-04-02T12:40:43
2132941,0.0,33860,22652,0,74006674,"NATIONAL BANK OF INDIANAPOLIS, THE","107 NORTH PENNSYLVANIA STREET, SUITE 700",INDIANAPOLIS,IN,46204,31,2019-01-29T10:07:59
2253891,0.0,33954,24828,0,51405515,"CAPITAL ONE BANK (USA), NATIONAL ASSOCIATION",4851 COX ROAD,GLEN ALLEN,VA,23060,31,2019-01-31T16:41:17
3150447,0.0,57450,718077,18077,121202211,CHARLES SCHWAB BANK,"2360 CORPORATE CIRCLE, SUITE 400",HENDERSON,NV,89074,31,2019-04-02T12:35:17
3402913,0.0,57815,0,0,67015779,BANESCO USA,150 ALHAMBRA CIRCLE SUITE 100,CORAL GABLES,FL,33134,31,2019-01-30T11:55:28
2700984,0.0,34697,0,0,124084643,WEX BANK,"7090 UNION PARK CENTER, SUITE 350",MIDVALE,UT,84047,31,2019-01-30T14:06:32
827560,0.0,25158,0,0,321381233,"FINANCE FACTORS, LIMITED","1164 BISHOP STREET, SUITE 300",HONOLULU,HI,96813,31,2019-03-05T20:32:15
925411,0.0,27054,0,0,26011167,SUMITOMO MITSUI TRUST BANK (U.S.A.) LIMITED,111 RIVER STREET 14 FL WATERFRONT CORPORATE CE...,HOBOKEN,NJ,7030,31,2019-01-30T09:15:46
918918,0.0,26876,20948,0,26003023,SAFRA NATIONAL BANK OF NEW YORK,546 FIFTH AVENUE,NEW YORK,NY,10036,31,2019-01-30T17:06:03
245016,0.0,25093,0,11840,26007362,HABIB AMERICAN BANK,99 MADISON AVENUE,NEW YORK,NY,10016,31,2019-01-30T15:55:02
229913,0.0,21843,0,0,26008905,MIZUHO BANK (USA),1251 AVENUE OF THE AMERICAS,NEW YORK,NY,10020,31,2019-04-01T16:00:02
526452,0.0,1673,0,0,91404466,1ST FINANCIAL BANK USA,331 NORTH DAKOTA DUNES BOULEVARD,DAKOTA DUNES,SD,57049,31,2019-01-24T17:55:14
538802,0.0,24516,0,11980,26006237,INTERAUDI BANK,19 EAST 54TH STREET,NEW YORK,NY,10022,31,2019-01-29T14:48:55
564557,0.0,26856,0,0,114915803,FALCON INTERNATIONAL BANK,7718 MCPHERSON ROAD BUILDING F,LAREDO,TX,780452805,31,2019-01-30T17:32:35
595869,0.0,18503,0,0,122203950,CATHAY BANK,777 NORTH BROADWAY STREET,LOS ANGELES,CA,90012,31,2019-03-08T19:10:41
30810,0.0,5649,0,0,31100649,DISCOVER BANK,502 EAST MARKET STREET,GREENWOOD,DE,19950,31,2019-04-02T11:52:39
171133,0.0,20026,15748,15671,67002533,EASTERN NATIONAL BANK,9700 SOUTH DIXIE HIGHWAY,MIAMI,FL,33156,31,2019-02-12T11:57:14
725732,0.0,21265,0,10221,67009044,BAC FLORIDA BANK,169 MIRACLE MILE SUITE R10,CORAL GABLES,FL,33134,31,2019-02-11T15:46:02
729132,0.0,21220,0,15231,66009029,BRICKELL BANK,1395 BRICKELL AVENUE,MIAMI,FL,33131,31,2019-01-30T10:46:24
777366,0.0,20387,0,0,121029672,BANK OF THE ORIENT,233 SANSOME STREET,SAN FRANCISCO,CA,94104,31,2019-04-02T18:28:32
802866,0.0,24735,0,0,121140399,SILICON VALLEY BANK,3003 TASMAN DRIVE,SANTA CLARA,CA,95054,31,2019-02-06T19:18:41
167565,0.0,25890,0,0,121043218,"WELLS FARGO BANK, LTD.",707 WILSHIRE BOULEVARD,LOS ANGELES,CA,90017,31,2019-01-30T13:37:52
364270,0.0,30692,0,5756,321470364,"BANKPACIFIC, LTD.",151 ASPINALL AVENUE,HAGATNA,GU,96910,31,2019-01-30T22:56:39
101019,0.0,19842,0,0,26002794,BANK LEUMI USA,579 FIFTH AVENUE,NEW YORK,NY,10017,31,2019-01-29T12:51:59
65513,0.0,26633,20547,0,26010773,DELTA NATIONAL BANK AND TRUST COMPANY,650 FIFTH AVE 26 FL,NEW YORK,NY,10019,31,2019-01-29T15:20:31
867632,0.0,24823,0,14561,67011692,INTERNATIONAL FINANCE BANK,777 SOUTHWEST 37TH AVENUE SUITE 700,MIAMI,FL,33135,31,2019-01-30T16:11:59
5278251,0.0,59108,0,0,122487695,CHARLES SCHWAB TRUST BANK,"2360 CORPORATE CIRCLE, SUITE 400",HENDERSON,NV,89074,31,2019-04-02T12:46:24